<!doctype html>
<html>
<head>
    <link href="../stylesheets/styles/overlay.css" rel="stylesheet" />
</head>
<body>
    <!-- place actual overlays here -->
    <div class="advoc-modal-container">
        <div id="advoc-modal-draft" class="advoc-modal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="advoc-modal-dialog">
                <div class="advoc-modal-content">
                    <div class="advoc-modal-header">
                        <button type="button" class="advoc-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h1 class="advoc-modal-title advoc-h1 advoc-text-centered" id="advoc-modal-label">SHARE & SAVE 10% NOW</h1>
                    </div>
                    <div class="advoc-modal-body">
                        <div class="advoc-panel">
                            <div class="advoc-product-image"></div>
                            <div class="advoc-caption-container advoc-clearfix">
                                <div class="advoc-container">
                                    <div class="advoc-row">
                                        <div class="advoc-title advoc-col-xs-9 advoc-h2 advoc-text-centered">American Gothic Socks</div>
                                        <div class="advoc-prices advoc-col-xs-3">
                                            <div class="advoc-current-price advoc-h2 advoc-text-centered">$56.70</div>
                                            <div class="advoc-compare-price advoc-text-centered advoc-h3">$63.00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="advoc-stepper advoc-clearfix">
                            <div class="advoc-container">
                                <ul class="advoc-row">
                                    <li class="selected advoc-col-xs-4">
                                        <div class="advoc-row">
                                            <div class="advoc-step-num advoc-col-xs-2">1</div>
                                            <div class="advoc-step-block advoc-col-xs-10">
                                                <div class="advoc-step-action">CHOOSE <span class="advoc-tick advoc-hide">&#x2713;</span></div>
                                                <div class="advoc-action-on">A SOCIAL NETWORK</div>
                                            </div>
                                        </div>
                                    </li> 
                                    <li class="advoc-col-xs-4">
                                        <div class="advoc-row">
                                            <div class="advoc-step-num advoc-col-xs-2">2</div>
                                            <div class="advoc-step-block advoc-col-xs-10">
                                                <div class="advoc-step-action">SHARE IT <span class="advoc-tick">&#x2713;</span></div>
                                                <div class="advoc-action-on">WITH FRIENDS</div>
                                            </div>
                                        </div>
                                    </li> 
                                    <li class="advoc-col-xs-4 advoc-last">
                                        <div class="advoc-row">
                                            <div class="advoc-step-num advoc-col-xs-2">3</div>
                                            <div class="advoc-step-block advoc-col-xs-10">
                                                <div class="advoc-step-action">EARN <span class="advoc-tick advoc-hide">&#x2713;</span></div>
                                                <div class="advoc-action-on">YOUR DISCOUNT</div>
                                            </div>
                                        </div>
                                    </li> 
                                </ul>
                            </div>
                        </div><!-- /.advoc-stepper -->
                        <div class="advoc-step-panels">
                            <div class="advoc-panel advoc-step-1 advoc-container">
                                <h2 class="advoc-heading advoc-text-centered">Select a social network</h2>
                                <div class="advoc-caption advoc-text-centered">Please grant Advocado permission before you share.</div>
                                <div class="advoc-row">
                                    <div class="advoc-col-xs-2"></div>
                                    <ul class="advoc-col-xs-8 advoc-share-options">
                                        <li class="advoc-share-option advoc-fb advoc-clearfix">
                                            <div class="advoc-logo"></div><div class="advoc-name">Facebook</div>
                                        </li>
                                        <li class="advoc-share-option advoc-twitter advoc-clearfix">
                                            <div class="advoc-logo"></div><div class="advoc-name">Twitter</div>
                                        </li>
                                    </ul>
                                    <div class="advoc-col-xs-2"></div>
                                </div>
                            </div>
                            <div class="advoc-panel advoc-step-2 advoc-container advoc-hide">
                                <div class="advoc-row">
                                    <form class="advoc-sharing-form advoc-col-xs-12">
                                        <div class="advoc-input-container">
                                            <textarea class="advoc-fb" placeholder="Help us out by telling your friends about this."></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="advoc-row">
                                    <div class="advoc-col-xs-12">
                                        <button type="button" class="advoc-btn advoc-fb"><span><img src="../images/facebook_logo.png" /></span><strong>Share</strong> and get a 10% discount!</button>
                                    </div>
                                </div>
                            </div>
                            <div class="advoc-panel advoc-step-3 advoc-container advoc-hide">
                                <div class="advoc-row advoc-cart-option">
                                    <label for="advoc-selector">Size</label>
                                    <div class="advoc-selector-wrapper">
                                        <select name="advoc-selector" class="advoc-selector">
                                            <option>36 - $57.60</option>
                                            <option>37 - $57.60</option>
                                        </select>
                                        <div class="advoc-down-arrow"></div>
                                    </div>
                                </div>
                                <div class="advoc-row">
                                    <div class="advoc-text-centered advoc-col-xs-12"><span class="advoc-times">&times;</span></div>
                                </div>
                                <div class="advoc-row">
                                    <label for="advoc-qty">Quantity</label>
                                    <input type="text" value="1" name="advoc-qty" class="advoc-input" />
                                </div>
                                <div class="advoc-row">
                                    <div class="advoc-col-xs-1"></div>
                                    <div class="advoc-subtotal-container advoc-col-xs-10">
                                        <div class="advoc-row">
                                            <div class="advoc-col-xs-6">
                                                <span class="advoc-label">Total</span><span class="advoc-price">$113.40</span>
                                            </div>
                                            <div class="advoc-col-xs-6">
                                                <button type="button" class="advoc-btn advoc-add-to-cart-btn">Add to cart</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="advoc-col-xs-1"></div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.advoc-modal-body -->
                    <div class="advoc-modal-footer">
                        <div class="advoc-text-centered advoc-pull-none">
                            <p>* Your post will only be shared once. <br />We do not share this information with third parties.</p>
                        </div>
                    </div><!-- /.advoc-modal-footer -->
                </div><!-- /.advoc-modal-content -->
            </div><!-- /.advoc-modal-dialog -->
        </div><!-- /.advoc-modal -->
    </div>
    <script src="../scripts/libs/jquery-1.10.2.min.js"></script>
    <script src="../scripts/libs/bootstrap.js"></script>
    <script>
        $('#advoc-modal-draft').modal({
                    show: true
                });
    </script>
</body>
</html>
